@model TestOAT_MVC.Models.TransactionDtos.CreateTransactionDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateTransactionDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" class="form-control" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>*@
            @Html.HiddenFor(m => m.ProjectId)
            <dt class = "form-group">
            @Html.DisplayNameFor(model => model.RecommendedPrice)
            </dt>
             <dd class = "form-group">
                @Html.DisplayFor(model => model.RecommendedPrice)
             </dd>
            <div class="form-group">
                <label asp-for="PriceSoldAt" class="control-label"></label>
                <input asp-for="PriceSoldAt" class="form-control" />
                <span asp-validation-for="PriceSoldAt" class="text-danger"></span>
            </div>
			    @*<a asp-action="Sold" asp-route-id="@item.Id" class="btn btn-primary">Completed</a> *@
            <br />
            <div class="form-group">
				@*<a asp-action="TransactionDetail" asp-route-id="@Model.ProjectId" class="btn btn-primary">Complete Transaction</a> *@
                <input type="submit" value="Check Sale" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-controller="Projects" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
